<h1>iMaze :) </h1>

<div id="maze">
  <% @maze.each_with_index do |row, index| %>
    <div class="maze-row maze-row-<%= index %>">
      <% row.each do |maze_rep| %>
        <%= maze_rep.decorate.to_html  %>
      <% end %>
    </div>
    <div class=clear-fix></div>
  <% end %>
</div>

<ul>
  <li>
  <a href="https://github.com/equivalent/a-maze-ing">https://github.com/equivalent/a-maze-ing</a>
  </li>
  <li>
  <a href="https://github.com/equivalent/maze_magic">https://github.com/equivalent/maze_magic</a>
  </li>
</ul>
