// Place all the styles related to the Mazes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clear-fix {
  clear: both
}

.maze-magic {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  float: left;
  height: 20px;
  width: 20px;
  background-color: grey;
  border: solid grey 3px
}

.edge {
  &:after {
    content: '_'
  }
}

.horizontal-wall {
  &:after {
    content: '_'
  }
}

.vertical-wall {
  &:after {
    content: '|'
  }
}

